@import "tailwindcss";

/* ===== Light ===== */
:root {
  --bg: #ffffff;
  --fg: #0f172a;

  --card: #ffffff;
  --card-border: rgba(15, 23, 42, 0.12);

  --muted: #f4f4f5;
  --muted-fg: #52525b;

  --btn: #0f172a;
  --btn-fg: #ffffff;
}

/* ===== Dark ===== */
html.dark {
  --bg: #0a0a0a;
  --fg: #ededed;

  --card: #0b0b0b;
  --card-border: rgba(237, 237, 237, 0.12);

  --muted: #18181b;
  --muted-fg: #a1a1aa;

  --btn: #f4f4f5;
  --btn-fg: #0a0a0a;
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: Arial, Helvetica, sans-serif;
}
